quotes.txt
_dummy_thread
_markupbase
_thread
bin
builtins
certifi
certifi-2018.4.16.dist-info
chardet
chardet-3.0.4.dist-info
copyreg
future
future-0.16.0.dist-info
html
http
idna
idna-2.6.dist-info
libfuturize
libpasteurize
oauthlib
oauthlib-2.0.7.dist-info
past
python_twitter-3.4.1.dist-info
queue
reprlib
requests
requests_oauthlib
requests_oauthlib-0.8.0.dist-info
requests-2.18.4.dist-info
socketserver
tkinter
twitter
urllib3
urllib3-1.22.dist-info
winreg
xmlrpc
