quotes.txt
pokemon.txt
_dummy_thread
_markupbase
_thread
bin
builtins
certifi
certifi-2018.4.16.dist-info
chardet
chardet-3.0.4.dist-info
copyreg
future
future-0.16.0.dist-info
html
http
idna
idna-2.6.dist-info
libfuturize
libpasteurize
oauthlib
oauthlib-2.0.7.dist-info
past
python_twitter-3.4.1.dist-info
queue
reprlib
requests
requests_oauthlib
requests_oauthlib-0.8.0.dist-info
requests-2.18.4.dist-info
socketserver
tkinter
twitter
urllib3
urllib3-1.22.dist-info
winreg
xmlrpc
*.bak
.DS_Store
2018-11-10.zip
certifi-2018.10.15.dist-info/DESCRIPTION.rst
certifi-2018.10.15.dist-info/INSTALLER
certifi-2018.10.15.dist-info/LICENSE.txt
certifi-2018.10.15.dist-info/METADATA
certifi-2018.10.15.dist-info/metadata.json
certifi-2018.10.15.dist-info/RECORD
certifi-2018.10.15.dist-info/top_level.txt
certifi-2018.10.15.dist-info/WHEEL
future-0.17.1-py3.7.egg-info/dependency_links.txt
future-0.17.1-py3.7.egg-info/entry_points.txt
future-0.17.1-py3.7.egg-info/installed-files.txt
future-0.17.1-py3.7.egg-info/PKG-INFO
future-0.17.1-py3.7.egg-info/SOURCES.txt
future-0.17.1-py3.7.egg-info/top_level.txt
idna-2.7.dist-info/INSTALLER
idna-2.7.dist-info/LICENSE.txt
idna-2.7.dist-info/METADATA
idna-2.7.dist-info/RECORD
idna-2.7.dist-info/top_level.txt
idna-2.7.dist-info/WHEEL
oauthlib-2.1.0.dist-info/INSTALLER
oauthlib-2.1.0.dist-info/LICENSE.txt
oauthlib-2.1.0.dist-info/METADATA
oauthlib-2.1.0.dist-info/RECORD
oauthlib-2.1.0.dist-info/top_level.txt
oauthlib-2.1.0.dist-info/WHEEL
python_twitter-3.5.dist-info/AUTHORS.rst
python_twitter-3.5.dist-info/COPYING
python_twitter-3.5.dist-info/INSTALLER
python_twitter-3.5.dist-info/LICENSE
python_twitter-3.5.dist-info/METADATA
python_twitter-3.5.dist-info/NOTICE
python_twitter-3.5.dist-info/RECORD
python_twitter-3.5.dist-info/top_level.txt
python_twitter-3.5.dist-info/WHEEL
requests-2.20.1.dist-info/INSTALLER
requests-2.20.1.dist-info/LICENSE
requests-2.20.1.dist-info/METADATA
requests-2.20.1.dist-info/RECORD
requests-2.20.1.dist-info/top_level.txt
requests-2.20.1.dist-info/WHEEL
requests_oauthlib-1.0.0.dist-info/INSTALLER
requests_oauthlib-1.0.0.dist-info/LICENSE.txt
requests_oauthlib-1.0.0.dist-info/METADATA
requests_oauthlib-1.0.0.dist-info/RECORD
requests_oauthlib-1.0.0.dist-info/top_level.txt
requests_oauthlib-1.0.0.dist-info/WHEEL
urllib3-1.24.1.dist-info/INSTALLER
urllib3-1.24.1.dist-info/LICENSE.txt
urllib3-1.24.1.dist-info/METADATA
urllib3-1.24.1.dist-info/RECORD
urllib3-1.24.1.dist-info/top_level.txt
urllib3-1.24.1.dist-info/WHEEL
